[submodule "GetIt/External/JSONKit"]
	path = GetIt/External/JSONKit
	url = git://github.com/johnezang/JSONKit.git
[submodule "GetIt/External/AFNetworking"]
	path = GetIt/External/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
